"*":
  "atom-beautify":
    general:
      _analyticsUserId: "653815c0-ea14-410c-810e-92366e30404e"
  core:
    disabledPackages: [
      "atom-ide-ui"
    ]
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "04fa9b4d-232d-4244-8020-73f7126a918e"
  welcome:
    showOnStartup: false
".beamer.latex.tex.text":
  editor:
    softWrapAtPreferredLineLength: false
".bibtex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
".latex.log.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
".latex.memoir.tex.text":
  editor:
    softWrapAtPreferredLineLength: false
".latex.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
".tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
