"*":
  "circle-ci":
    apiToken: "1ee71591fa0d51ed7e892c13fb78c645556f2e76"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter"
      "atom-ide-ui"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Go Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "025be5c2-c601-99a3-cc83-dc8ed147932f"
  "git-plus": {}
  "go-plus": {}
  latex: {}
  "linter-flake8":
    maxLineLength: 1000
  "merge-conflicts": {}
  minimap:
    plugins:
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  "package-sync":
    forceOverwrite: true
  "pretty-json":
    prettifyOnSaveJSON: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "travis-ci-status": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".TIS-100.asm.source":
  editor:
    tabLength: 4
".TIS.asm.source":
  editor:
    tabLength: 4
".diff.source":
  editor:
    tabLength: 4
