packages: [
  "atom-django"
  "git-plus"
  "go-plus"
  "go-rename"
  "language-docker"
  "language-latex"
  "language-lua"
  "language-opencl"
  "language-restructuredtext"
  "latex"
  "linter"
  "linter-flake8"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "script"
  "travis-ci-status"
]
