packages: [
  "atom-django"
  "autocomplete-go"
  "builder-go"
  "environment"
  "git-plus"
  "go-config"
  "go-get"
  "go-plus"
  "go-rename"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "language-docker"
  "language-latex"
  "language-lua"
  "language-opencl"
  "language-r"
  "language-restructuredtext"
  "latex"
  "linter"
  "linter-flake8"
  "merge-conflicts"
  "minimap"
  "navigator-godef"
  "package-sync"
  "script"
  "tester-go"
  "travis-ci-status"
]
